* {
    font-family: 'Roboto', sans-serif;
}

body {
    color: aliceblue;
}

/* Navbar */


#navbar {
    border-bottom: 1px solid rgb(0, 173, 181);
}

#navbar a:hover {
    color: rgb(0, 173, 181);
}

#navbar a.active {
    border-bottom: 1px solid #ffffff;
}

.navbar-brand {
    font-size: 20px;
    display: flex;
}

.navbar-brand img {
    width: 55px;
    margin-left: 1em;
}

.navbar-brand span {
    font-weight: 700;
    font-size: 1.4em;
    margin-left: 0.5em;
    margin-top: 0.2em;
}

.navbar-nav {
    display: flex;
    justify-content: end;
    width: 100%;
}

#navbarSupportedContent .nav-item {
    margin: 0 1em;

}


/* Carousel */


#carouselExampleCaptions {
    margin-top: 3em;
    margin-bottom: 1em;
}

#carouselExampleCaptions .carousel-caption {
    bottom: 2em;
}

#carouselExampleCaptions .carousel-caption h5 {
    font-size: 2.5em;
    text-shadow: #000000 2px 2px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 40px;
}

.btn {
    border-radius: 1em;
    border-color: rgb(0, 173, 181);
}

#carouselExampleCaptions .btn {
    padding: 0.8em 1em;
    border-color: rgb(0, 173, 181);
    letter-spacing: 0.1rem;
    font-size: 1.1em;
    margin-top: 1em;
}

/* Adicione este bloco ao seu código CSS */

@media (max-width: 390px) {
    #carouselExampleCaptions .carousel-caption{
        bottom: 1em;
        font-size: 0.7em;
        text-shadow: #000000 3px 3px;
    }

    #carouselExampleCaptions {
        margin-top: 5em;
    }
}


@media(min-width: 768px) {
    #carouselExampleCaptions .carousel-caption {
        bottom: 3em;
    }

    #carouselExampleCaptions .carousel-caption h5 {
        font-size: 4em;
        text-shadow: #000000 3px 3px;
    }

    #carouselExampleCaptions .btn {
        padding: 0.8em 1.2em;
    }

}

/* Quem Somos */

#container-quem-somos {
    padding-top: 1.5em;
    margin-bottom: 2em;
}

#quem-somos {
    margin-top: 2em;
    margin-bottom: 1em;
    border-radius: 0.5em;
    padding: 2.1em 2em 1em;
    background-color: hwb(220 95% 0%);
    color: rgb(17, 27, 37);
}

#quem-somos .btn {
    padding: 0.8em 1em;
    border: 1px solid rgb(0, 173, 181);
    letter-spacing: 0.1rem;
    font-size: 1em;
}

#quem-somos-img {
    margin-top: 1em;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: em;
}

#resultados {
    padding-left: 1em;
    margin: 1em 0;
    text-align: center;
}

/* Nosso Time */

#nosso-time .card-img-top {
    width: 190px;
}

#nosso-time .card {
    align-items: center;
    text-align: center;
}

/* Produtos */

#produtos .img-limit {
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
}

#produtos .card {}

p {
    font-size: 14px;
    font-weight: 400px;
}

footer {
    border-top: 1px solid rgb(0, 173, 181);
}